{% extends 'base.html' %}
{% load static %}



{% block content %}
<header class="banner">
   <div class="gradient"></div>
    <div class="container">
        <div class="row">
           <div class="col-sm-12 heading">
              <h1 data-aos="fade-right" data-aos-delay="300">Haz tus pedidos</h1>
              <h2 data-aos="fade-left" data-aos-delay="300" style="font-size: 100px;"> &darr; </h2>
           </div>  
        </div>
    </div>
</header>


<section class="Subscribe" data-aos="fade-up">
    <div class="container">
      <!-- Grid row-->
        <div class="row main">
        <!-- Grid column -->
        <div class="col-lg-6 col-sm-6 col1">
           <div class="heading">
              <h3>Haz tu pedido al </h3>
           </div>
        </div>
        <div class="col-lg-6 col-sm-6 col1">
           <form>
              <div class="input-group">
                 <!-- <input name="email" id="email" type="email" placeholder="Enter your email id" required> -->
                 <h4 class="btn btn-info" style="font-size: 25px;">933048782</h4>
                 <h4 class="btn btn-info" style="font-size: 25px;">993422490</h4>
                 <h4 class="btn btn-info" style="font-size: 25px;">948132292</h4>
              </div>
           </form>
         </div>
        </div>
    </div>
    </section>
{% endblock content %}
    