<!-- Footer -->
<footer class="page-footer">
    <div class="gradient"></div>
      <!-- Footer Links -->
      <div class="container text-center text-md-left">
  
        <!-- Grid row -->
        <div class="row">
  
          <!-- Grid column -->
          <div class="col-lg-5 col-md-12 col-12 content">
  
            <!-- Content -->
            <a href="index.html" style = " font-size : 28px; margin: auto ;">Maga Market</a>
            <p>Generar excelentes experiencias de compra para que nuestros clientes regresen y tengan una mejor calidad de vida.</p>
  
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-lg-2 col-md-4 mx-auto">
  
            <!-- Links -->
            <h5 class="mt-3 mb-3">Navegacion </h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="{% url 'Inicio' %}">INICIO</a>
              </li>
              <li>
                <a href="{% url 'Productos' %}">Productos</a>
              </li>
              <li>
                <a href="{% url 'Inicio' %}">Promociones</a>
              </li>
              <li>
                <a href="{% url 'Inicio' %}">Recetas</a>
              </li>
              <li>
                <a href="{% url 'Pedidos' %}">Pedidos</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          
          <!-- <div class="col-lg-2 col-md-4 mx-auto">
  
            
            <h5 class="mt-3 mb-3">information</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">user login</a>
              </li>
              <li>
                <a href="#!">creat new account</a>
              </li>
              <li>
                <a href="#!">checkout</a>
              </li>
              <li>
                <a href="#!">my cart</a>
              </li>
              <li>
                <a href="#!">other information</a>
              </li>
            </ul>
  
          </div>
          
          <div class="col-lg-2 col-md-4 mx-auto">
  
  
            
            <h5 class="mt-3 mb-3">policies & Info</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">Terms Conditions</a>
              </li>
              <li>
                <a href="#!">website polocy</a>
              </li>
              <li>
                <a href="#!">Policy for Sellers  </a>
              </li>
              <li>
                <a href="#!">Policy for Buyers</a>
              </li>
              <li>
                <a href="#!">Shipping & Refund </a>
              </li>
              <li>
                <a href="#!">Wholesale Policy</a>
              </li>
            </ul>
  
          </div> -->
          
  
        </div>
        <!-- Grid row -->
  
      </div>
      <!-- Footer Links -->
      <br/>
      <!-- Copyright -->
      <div class="footer-copyright text-center">
         <p>© 2020, All Rights Reserved. <a href="">Maga Market</a> </p>
      </div>
      <!-- Copyright -->
  
  </footer>
  <!-- Footer -->