  {% load static %}
  <div class="top-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-5 col1">
                <h5>www.magamarket.com</h5>
            </div>
            <div class="col-sm-6 col-7 col2">
                <div class="row">
                   <div class="col-sm-12">
                      <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                      <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                      <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                      <a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
                      <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                   </div>
                </div>
            </div>
        </div>
    </div>
   </div>
   
  <!-- Navigation -->
  <nav id="myHeader" class="header navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img src="{% static 'images/logo1.png' %}" style="width: 50px;" alt="logo"> &nbsp; Bodega's Maga</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'Inicio' %}">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Productos' %}">productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Inicio' %}">promociones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Pedidos' %}">Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/">Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  